html {
	background-color: #e697dd;
	font: italic small-caps bold 16px/2 cursive;
}

.cuadros a {
	color: #cb2828;
}

footer a {
	color: #000;
}

#pick {
	text-align: center;
}

#easy {
	display: flex;
  justify-content: center;
  align-items: center;
}

#normal {
	display: flex;
  justify-content: center;
  align-items: center;
}

#hard {
	display: flex;
  justify-content: center;
  align-items: center;
}